# ===== Google Cloud Storage =====
GCS_BUCKET=bucket_tcn_server

# ===== API Server =====
GCS_REFRESH_INTERVAL=60

# ===== MQTT (tùy chọn nếu broker yêu cầu auth) =====
# MQTT_USERNAME=
# MQTT_PASSWORD=
